:root {
    // --iro-global-font-weight: 300;
    // --iro-font-color: #505050;
    // --iro-dm-bg-transparency: 0.8;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica;
    overflow-x: hidden;
    background-color: unset;

    &.iro-open-nav {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track,
    &.dark::-webkit-scrollbar-thumb {
        background-color: #eee;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--iro-theme-skin);
        border-radius: 25px;
    }

    &.dark::-webkit-scrollbar-track {
        background-color: var(--iro-theme-skin);
    }

}

body {
    margin: 0;
    font-size: 17px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .1);
    font-size: 15px;
    line-height: 1.5;
    background-attachment: fixed;
    background-position: center;
    scrollbar-width: 6px;
    font-weight: var(--iro-global-font-weight);

    font-family: Noto Serif SC !important;
}

::before,
::after {
    box-sizing: inherit;
}

a {
    background-color: transparent;
    text-decoration: none;
    outline: 0;
    transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out;
    word-break: break-word;
}

input {
    color: var(--iro-theme-skin);
    font: inherit;
    margin: 0;
    line-height: 1.5;
    font-size: 15px;
    font-weight: var(--iro-global-font-weight);
}

input[type=search] {
    color: #666;
    border: 1px solid var(--iro-theme-skin, #505050);
    border-radius: 10px;
    padding: 3px;
}

ul {
    margin: 5px;
    padding-left: 0px;
    list-style: disc;
}

p {
    margin-bottom: 1.5em;
}

button {
    color: var(--iro-btn-bg-color);
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    appearance: button;
    cursor: pointer;
    font-size: .75rem;
    line-height: 1;
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 15px 17px rgba(255, 255, 255, .5), inset 0 -5px 12px rgba(0, 0, 0, .05);
    padding: .6em 1em .4em;
    font-weight: var(--iro-global-font-weight);
}

rt {
    font-size: 75%;
}

.iro-no-select {
    user-select: none;
}

.iro-blank {
    padding-top: 80px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.8s;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
    clear: both;
    font-weight: var(--iro-global-font-weight);

    &::before {
        display: block;
        content: " ";
        height: 80px;
        margin-top: -80px;
        visibility: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    border-top: none !important;
}

hr {
    box-sizing: content-box;
    height: 1px;
    background-color: #ccc;
    border: 0;
    margin-bottom: 1.5em;
}

@keyframes iro-fade-in-down {
    0% {
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0
    }

    50% {
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0
    }

    100% {
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1
    }
}